[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".config/nvim/lua/user"]
	path = .config/nvim/lua/user
	url = gitea@git.mjindra.eu:derchef/AstroNvimUser.git
